@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}
a:active,
a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

.logo {
  text-align: center;
  margin: 20px 0 10px 0;
}
.logo img {
  width: 50%;
}

.fa-arrow-right {
  position: relative;
  top: 45px;
  left: 20px;
}

main {
  background-color: #f6f6f6;
}

.main-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

section {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 30px 15px 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -40px;
}

.title-heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title .fa-heart {
  position: absolute;
  line-height: 2;
}

.full {
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
  line-height: 2;
}
.full:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  margin-right: 100px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}

.card {
  background-color: #ffffff;
  margin-bottom: 15px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}
.card:hover .check {
  background-color: #a9e0d1;
  display: block;
}

.card:hover .name p {
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes price {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(40%);
  }
}

.check {
  display: none;
  background-color: #a9e0d1;
  padding: 0;
  width: 80px;
  border-radius: 0 15px 15px 0;
  animation: check 1s forwards;
}
.check div {
  margin: 10px 0 0 6px;
  width: 100%;
  height: 100%;
}

.check div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes check {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
i.fa-circle-check {
  background-color: #ffffff;
  line-height: 1;
  border-radius: 100%;
  color: #a9e0d1;
  transform: translate(-50%, -50%);
}

.name {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  padding: 15px;
}

.card:hover .price {
  position: absolute;
  right: 85px;
  line-height: 5;
  animation: check 0s forwards;
}

.price {
  font-weight: bold;
  font-family: "Roboto";
  display: flex;
  align-items: flex-end;
  transition: left 0.3s ease;
}

.card h3 {
  color: #000;
  text-overflow: ellipsis;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content-title {
  width: 100%;
}

section h2 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Roboto";
  margin: 20px 0 15px 0;
  -webkit-text-decoration: underline #a9e0d1;
  text-decoration: underline #a9e0d1;
}

.btn-conteneur {
  display: flex;
  justify-content: center;
}

.btn {
  color: #ffffff;
  background: linear-gradient(#ff79da, #9356dc);
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.btn:hover {
  background: linear-gradient(#ff90e7, #a16eff);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

footer {
  display: flex;
  background-color: #353535;
  color: #ffffff;
  padding: 0;
}
footer div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-footer {
  filter: invert(1);
  margin-bottom: 20px;
  width: 139px;
  height: 27px;
}

.menu-footer {
  list-style-type: none;
}
.menu-footer .fa-solid {
  margin-right: 10px;
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  opacity: 0;
  animation: pop-in 0.8s ease forwards;
}

.card:nth-child(odd) {
  animation-delay: 0.2s;
}

.card:nth-child(even) {
  animation-delay: 0.4s;
}

/*screen tablette*/
@media (min-width: 768px) {
  @keyframes check {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .card:hover .price {
    right: 85px;
  }

  .card:hover .name p {
    max-width: 9999px;
  }
}
/*screen desktop*/
@media (min-width: 1025px) {
  main {
    width: 70%;
    margin: 0 auto;
  }

  .card:hover .price {
    right: 85px;
  }

  .logo img {
    width: 25%;
  }
  @keyframes check {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer div {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul li {
    display: inline-block;
  }
  footer li {
    padding: 10px;
  }
  footer ul:last-child {
    margin-right: 30px;
  }
} /*# sourceMappingURL=menu.css.map */
