@forward "../sass/color.scss";
@forward "../sass/keyframe.scss";
@forward "../sass/background-color.scss";
@forward "../sass/font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  &:active,
  &:visited {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
  }

  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

.logo {
  text-align: center;
  margin: 20px 0 10px 0;

  img {
    width: 50%;
  }
}

.fa-arrow-right {
  position: relative;
  top: 45px;
  left: 20px;
}

.main-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

section {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 30px 15px 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -40px;
}

.title-heart {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
}

.fa-heart {
  position: absolute;
}

.full {
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
  line-height: 1;

  &:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1;
  }
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  margin-right: 100px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #ffffff;
  margin-bottom: 15px;
  border-radius: 15px;
  width: 95%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;

  &:hover .check {
    background-color: #a9e0d1;
    display: block;
  }
}

.check {
  display: none;
  background-color: #a9e0d1;
  padding: 0;
  width: 7%;
  border-radius: 0 15px 15px 0;
  animation: check 3s forwards;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

i.fa-circle-check {
  background-color: #ffffff;
  line-height: 1;
  border-radius: 100%;
  color: #a9e0d1;
  transform: translate(-50%, -50%);
  animation: tourne 1s forwards;
}

.name {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  padding: 15px;
}

.price {
  padding: 15px;
}

.card:hover .price {
  position: absolute;
  right: 37px;
  line-height: 5;
  animation: check 3s forwards;
}

.price {
  font-weight: bold;
  font-family: "Roboto";
  display: flex;
  align-items: flex-end;
  transition: left 0.3s ease;
}

.test {
  overflow: hidden;
  display: flex;
  justify-content: end;
  background-color: #9356dc;
}

.card h3 {
  color: #000;
  text-overflow: ellipsis;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

section h2 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Roboto";
  margin: 10px 0 15px 0;
  position: relative;
  right: 130px;
  text-decoration: underline #a9e0d1;
}

.plats {
  position: relative;
  right: 140px;
}

.btn-conteneur {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.btn {
  color: #ffffff;
  background: linear-gradient(#ff79da, #9356dc);
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

  &:hover {
    transform: scale(1.1);
    background: linear-gradient(#9356dc, #ff79da);
  }
}

footer {
  display: flex;
  background-color: #353535;
  color: #ffffff;
  padding: 0;

  div {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

.logo-footer {
  filter: invert(1);
  margin-bottom: 20px;
  width: 139px;
  height: 27px;
}

.menu-footer {
  list-style-type: none;

  .fa-solid {
    margin-right: 10px;
  }
}

/*screen tablette*/
@media (min-width: 768px) {
  section h2 {
    left: -408px;
  }

  .title-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
  }

  .fa-heart {
    left: 650px;
  }

  .card {
    width: 90%;

    &:hover .price {
      right: 120px;
    }
  }

  .plats {
    left: -419px;
  }
}

/*screen desktop*/
@media (min-width: 1025px) {
  section h2 {
    left: -590px;
  }

  .card {
    width: 90%;

    &:hover .price {
      right: 170px;
    }
  }

  .plats {
    left: -608px;
  }

  .logo img {
    width: 25%;
  }

  .fa-heart {
    left: 850px;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;

    div {
      display: flex;
      flex-direction: row-reverse;
    }

    ul li {
      display: inline-block;
    }

    li {
      padding: 10px;
    }

    ul:last-child {
      margin-right: 30px;
    }
  }
}
