$color_1: #ffffff;
$color_2: #7e7e7e;
$color_3: #9356dc;
$color_4: #008766;
$font-family_1: "Roboto", sans-serif;
$background-color_1: #eaeaea;
$background-color_2: #f6f6f6;
$background-color_3: #9747ff;
$background-color_4: #ffffff;
$background-color_5: #99e2d0;
$background-color_6: #353535;

@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@300;400;500;700&display=swap";
* {
  font-family: $font-family_1;
  margin: 0;
  padding: 0;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: $background-color_1;
  p {
    margin-left: 20px;
  }
}
.hero {
  width: 100%;
  background-color: $background-color_2;
  padding-top: 40px;
  h1 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    > span {
      display: block;
    }
    span {
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    > span {
      display: block;
    }
    span {
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }
}
.btn-hero {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}
.btn-explor {
  color: $color_1;
  background: linear-gradient(#ff79da, #9356dc);
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.function {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin: 50px 0 50px 20px;
  h2 {
    display: inline-block;
    margin-bottom: 20px;
  }
}
.f {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 90%;
  background-color: $background-color_2;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  > .fa-solid {
    margin: 0 30px;
    color: $color_2;
  }
  > .fa-bars {
    margin-left: 3px;
  }
  > .fa-ellipsis-vertical {
    margin-right: 0;
  }
  > .fa-store {
    color: $color_3;
  }
}
.number {
  position: absolute;
  left: 17px;
  background-color: $background-color_3;
  color: $color_1;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant {
  h2 {
    display: inline-block;
    margin: 0 0 20px 20px;
  }
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:last-child {
    margin-bottom: 40px;
  }
}
.card {
  background-color: $background-color_4;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-radius: 0 0 20px 20px;
  h3 {
    display: inline-block;
    margin: 20px 0 0 -10px;
  }
  p {
    display: block;
    margin: 5px 0 0 17px;
    color: #131313;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 254px;
    border-radius: 20px 20px 0 0;
  }
  .fa-heart {
    position: relative;
    top: 5px;
    left: 320px;
  }
  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: #111111;
  }
}

.new {
  position: absolute;
  left: 280px;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80px;
    color: $color_4;
    background-color: $background-color_5;
    border-radius: 5%;
  }
}

footer {
  display: flex;
  background-color: $background-color_6;
  color: $color_1;
  padding: 0;
  div {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
.logo-footer {
  filter: invert(1);
  margin-bottom: 20px;
  width: 139px;
  height: 27px;
}
.menu-footer {
  list-style-type: none;
  .fa-solid {
    margin-right: 10px;
  }
}
@media (max-width: 767.98px) {
  body {
    width: 100%;
  }
  .logo {
    text-align: center;
    margin: 20px 0 10px 0;
    img {
      width: 50%;
    }
  }
}
